<h1>Charges for <%= @registrant.name %> (<%= @registrant.user.email %>)</h1>

<table class="table table-striped">
    <thead>
        <tr class="<%= @registrant.balance == 0 ? "success" : (@registrant.balance > 0 ? 'danger' : 'active') %>">
            <td colspan="5">Balance</td>
            <td colspan="1"><%= number_to_currency @registrant.balance %></td>
        </tr>

        <tr>
            <th>Time</td>
            <th><i class="fa fa-usd"></i></th>
            <th>Charger</th>
            <th>Comment</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
    </thead>

    <tbody>
        <% @charges.each do |charge| %>
            <tr>
                <td><%= charge.created_at.strftime("%Y-%m-%d %I:%M %P") %></td>
                <td><i class="fa fa-<%= charge.icon || 'usd' %>"></i></td>
                <td><%= charge.charger ? charge.charger.name : "System" %></td>
                <td><%= charge.comment %></td>
                <td><%= charge.description %></td>
                <td><%= number_to_currency charge.amount %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<% if current_organizer %>
    <h3>Charge</h3>
    <%= form_tag registrant_charge_path(@registrant) do %>
        <%= text_field_tag :amount, nil, :placeholder => 'Amount', :class => 'form-input' %>
        <%= text_field_tag :comment, nil, :placeholder => 'Comment', :class => 'form-input' %>
        <%= text_field_tag :icon, nil, :placeholder => 'Icon', :class => 'form-input' %>
        <%= text_area_tag :description, nil, :placeholder => 'Description', :class => 'form-input' %>

        <%= submit_tag "Charge", :class => 'btn btn-large btn-success' %>
    <% end %>
<% end %>
