<h1>All <%= option('local-events') || 'Events' %></h1>

<% if locked? %>
  <div class="panel panel-danger">
    <div class="panel-heading">Registration is Closed!</div>
    <div class="panel-body">Registration is currently closed.</div>
  </div>
<% end %>

<% if really_locked? && !locked? %>
  <div class="panel panel-info">
    <div class="panel-heading">Registration is Closed!</div>
    <div class="panel-body">Registration is currently closed for normal people.  Since you're a presenter or organizer, you can get in anyway.</div>
  </div>
<% end %>

<% @events.in_groups_of(2) do |g| %>
  <div class="row">
    <% g.each do |e| %>
      <div class="col-md-6">
        <% if e %>
          <div class="event">
            <% if e.photo.present? %><%= image_tag e.photo.url(:medium) %><% end %>
            <h3><% if e.icon %><i class="fa fa-<%= e.icon %>"></i> <% end %><%= link_to e.name, event_path(e) %></h3>
            <h4>
              <% if e.end - e.start < 60*60*24 %>
                <%= e.start.strftime '%Y-%m-%d %I:%M %P' %> - <%= e.end.strftime '%I:%M %P' %>
              <% else %>
                <%= e.start.strftime '%Y-%m-%d %I:%M %P' %> - <%= e.end.strftime '%Y-%m-%d %I:%M %P' %>
              <% end %> (<%= distance_of_time_in_words e.start, e.end %>)
            </h4>
            <% presenters = current_organizer ? e.presenters : e.presenters.where(:public => true) %>
            <% if presenters.count > 0 %>
              <h5>Presented by <%= presenters.map{|p| link_to(p.name, presenter_path(p), :class => (p.public ? '' : 'secret-presenter'))}.join(', ').html_safe %></h5>
            <% end %>
            <% if e.limit %>
              <p><i><% if !locked? %> <%= e.registrations.where(:waiting => nil).count %> registered -<% end %> <%= e.limit - e.registrations.where(:waiting => nil).count %> seats left.</i><% if (current_presenter || current_organizer) && e.registrations.where(:waiting => true).count > 0 %> <%= e.registrations.where(:waiting => true).count %> on waitlist.<% end %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% end %>
