<% if locked? %>
  <div class="panel panel-danger">
    <div class="panel-heading">Registration is Closed!</div>
    <div class="panel-body">Registration is currently closed.</div>
  </div>
<% end %>

<% if really_locked? && !locked? %>
  <div class="panel panel-info">
    <div class="panel-heading">Registration is Closed!</div>
    <div class="panel-body">Registration is currently closed for normal people.  Since you're a presenter or organizer, you can get in anyway.</div>
  </div>
<% end %>


<div class="event">
  <% if @event.photo.present? %><%= image_tag @event.photo.url(:medium) %><% end %>
  <h2><% if @event.icon %><i class="fa fa-<%= @event.icon %>"></i> <% end %><%= @event.name %></h2>
  <h4>
    <% if @event.end - @event.start < 60*60*24 %>
      <%= @event.start.strftime '%Y-%m-%d %I:%M %P' %> - <%= @event.end.strftime '%I:%M %P' %>
    <% else %>
      <%= @event.start.strftime '%Y-%m-%d %I:%M %P' %> - <%= @event.end.strftime '%Y-%m-%d %I:%M %P' %>
    <% end %> (<%= distance_of_time_in_words @event.start, @event.end %>)
  </h4>
  <% presenters = current_organizer ? @event.presenters : @event.presenters.where(:public => true) %>
  <% if presenters.count > 0 %>
    <h5>Presented by <%= presenters.map{|p| link_to(p.name, presenter_path(p), :class => (p.public ? '' : 'secret-presenter'))}.join(', ').html_safe %></h5>
  <% end %>
  <p>
  <% if @event.limit %><i><% if !locked? %><%= @event.registrations.where(:waiting => nil).count %> registered - <% end %><%= @event.limit - @event.registrations.where(:waiting => nil).count %> seats left.</i><% end %>
  <% if current_user && (q = current_user.registrants.to_a.keep_if{|r| @event.registrants.include? r}).count > 0 %>
    - <%= q.map{|r| r.waiting_on?(@event) ? r.name + " (waitlist)" : r.name}.join(', ') %> <%= q.count == 1 ? 'is' : 'are' %> registered.
  <% end %>
  </p>
  <%= markdown @event.description, @event %>

  <% if option('blurb-event') %>
    <%= markdown option('blurb-event'), @event %>
  <% end %>
</div>


<% if (current_presenter && @event.presenters.include?(current_presenter)) || current_organizer %>
  <h2>Update Description</h2>
  <%= form_tag update_event_path(@event) do %>
    <%= text_area_tag :description, @event.description %>
    <%= submit_tag "Update", :class => 'btn btn-warning btn-large' %>
  <% end %> 
  <h2>Registrations</h2>
  <table class="table table-striped">
    <thead>
      <th>User</th>
      <th>Registrants</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.email, "mailto:#{user.email}" %></td>
          <td>
            <%= @event.registrants_for(user).map do |r|
              r.waiting_on?(@event) ? link_to(r.name, r.user, :class => 'waitlisted') + " " + link_to('Promote', unwait_registration_path(r.registrations.where(:event => @event).first), :class => 'btn btn-mini btn-success') : link_to(r.name, r.user)
            end.join(', ').html_safe %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if current_user && !locked? %>
  <h2>Register for <%= @event.name %></h2>
  <% if current_user.registrants.count > 0 %>
    <% registrants = current_user.registrants.to_a.delete_if{|r| !@event.allows? r}.delete_if{|r| @event.registrants.include? r} %>
    <% if registrants.count > 0 %>
      <%= form_tag register_path do %>
        <%= select_tag :registrant_id, options_for_select(registrants.map{|r| [r.name, r.id]}) %>
        <%= hidden_field_tag :event_id, @event.id %>
        <%= submit_tag 'Register!', :class => 'btn btn-primary' %>
      <% end %>
    <% else %>
      <p>None of your registrants are allowed to register for this event.</p>
    <% end %>
  <% else %>
    <p>You don't have any registrants associated with your account.  Please create one <%= link_to 'here', registration_path %></p>
  <% end %>
<% end %>
