<!DOCTYPE html>
<html>
    <head>
        <title>Convocator</title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>

        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%= link_to option('site-title') || 'Convocator', root_path, :class => 'navbar-brand' %> 
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <%= link_to 'Information <b class="caret"></b>'.html_safe, '#', :class => 'dropdown-toggle', :"data-toggle" => 'dropdown' %>
                            <ul class="dropdown-menu">
                                <li><%= link_to "About Us", about_path %></li>
                                <% if Organizer.where(:public => true).count > 0 %><li><%= link_to "Organizers", organizers_path %></li><% end %>
                                <% if Presenter.where(:public => true).count > 0 %><li><%= link_to "Presenters", presenters_path %></li><% end %>
                            </ul>
                        </li>
                        <li><%= link_to (option('local-events') || 'Events'), events_path %></li>
                        <% Navigator.where(:parent_id => nil).each do |n| %>
                            <% if n.children.length > 0 %>
                                <li class='dropdown'>
                                <%= link_to (n.name + ' <b class="caret"></b>').html_safe, '#', :class => 'dropdown-toggle', :"data-toggle" => 'dropdown' %>
                                <ul class="dropdown-menu">
                                    <% n.children.each do |m| %>
                                        <li><%= link_to( ((m.page.meta['icon'] ? "<i class='fa fa-#{m.page.meta["icon"]}'></i> " : '') + m.name).html_safe, page_path(m.page)) %></li>
                                    <% end %>
                                </ul>
                                </li>
                            <% else %>
                                <li><%= link_to(((n.page.meta['icon'] ? "<i class='fa fa-#{n.page.meta["icon"]}'></i> " : '') + n.name).html_safe, page_path(n.page)) %></li>
                            <% end %>
                        <% end %>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <% if current_user %>
                            <% if current_organizer || current_presenter %>
                                <li class="dropdown">
                            <%= link_to 'Tools <b class="caret"></b>'.html_safe, '#', :class => 'dropdown-toggle', :"data-toggle" => 'dropdown' %>
                            <ul class="dropdown-menu">
                                <% if current_organizer %>
                                    <li><%= link_to "Admin Panel", root_url + 'admin/' %></li>
                                    <li><%= link_to "Users", users_path %></li>
                                <% end %>
                            </ul>
                                </li>
                            <% else %>
                            <% end %>
                            <li><%= link_to current_user.email, me_path %></li>
                            <li><%= link_to 'Sign Out', sign_out_path %></li>
                        <% else %>
                            <li><%= link_to 'Sign In', sign_in_path %></li>
                            <li><%= link_to 'Sign Up', sign_up_path %></li>
                        <% end %>
                         <li class="dropdown">
                        <%= link_to '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown' do %>
                            <span id="flash-link" <%= flash.count > 0 ? 'class="active"'.html_safe : '' %>><i class="fa fa-bell"></i> <span id="flash-counter"><%= flash.count %></span></span>
                        <% end %>
                        <ul class="dropdown-menu">
                            <% if flash.count > 0 %>
                                <%= bootstrap_flash %>
                            <% else %>
                                <li id="flashPlaceholder"><a href="#">No alerts for you!</a></li>
                            <% end %>
                        </ul>
                        </li>
                   </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container">
            <%= yield %>
        </div>

    </body>
</html>
